<%- include('./partials/header.ejs') %>

<%- include('new.ejs') %>

<!-- Total amount of expenses, income and balance -->
<div>
    <nav class="navbar navbar-expand-md navbar-light bg-light border rounded  my-2 w-100 ">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addNewRecord">
            New
          </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
            <div class="d-inline mx-auto">
                <p class="totalExpenses">Total expenses</p>
                <h3 class="totalExpenses">-$<%= totalExpenses %> </h3>
            </div>
            <div class="d-inline mx-auto">
                <p class="totalIncome">Total Income</p>
                <h3 class="totalIncome">+$<%= incomes %></h3>
            </div>

            <div class="d-inline mx-auto">
                <p class="balance">Balance</p>
                <h3 class="balance">$<%= balance %> </h3>
            </div>
        </div>
    </nav>
</div>




<!-- List of expenses and incomes -->

        <div class=" table-wrapper-scroll-y my-custom-scrollbar h-100 mb-2 mx-0  w-100">
            <div class=" h-100 border rounded tableBackground">
                <table class="table table-hover tableBackground overflow-auto">
                    <thead>
                        <tr class="sticky-top bg-light text-dark tableHeader">
                            <th scope="col">Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (expenses) { %>
                        <% expenses.forEach(expense => { %>
                        <% const formattedDate = moment(expense.date).tz('Asia/Urumqi').format('LL') %>
                        <%- include('show.ejs', {expense: expense }) %>
                        <%- include('edit.ejs', {expense: expense }) %>
                        <% if(expense.category === 'Income') { %>
        
                           
                        <tr  data-toggle="modal" data-target="#showRecord-<%= expense.id %>">
                            <td><p ><%= formattedDate %> </p></td>
                            <td><p ><%= expense.category %> </p></td>
                            <td><p  style="color: #07c907;">+$<%= expense.amount %> </p></td>
        
                        </tr>
                        <% } else { %>
                        <tr  data-toggle="modal" data-target="#showRecord-<%= expense.id %>">
        
                            <td><p ><%= formattedDate %> </p></td>
                            <td><p ><%= expense.category %> </p></td>
                            <td><p  style="color: red;">-$<%= expense.amount %> </p></td>
        
                        </tr>
                        <% } %>
                        <% }) %>
                        <% } else { %>
                        <h1>No Records</h1>
                        <% } %>
        
                    </tbody>
                </table>
            </div>
        </div>



<!-- filter by period -->
<div class="col">
    <div class="row text-center filterContainer border rounded-lg mb-2 bg-light">
        <div class="col filterColumn py-2  border border-right-1">
            <a class="filterLinkTag" href="/expenses/filter/01">24H</a>
        </div>
    
        <div class="col filterColumn py-2  border border-right-1">
            <a class="filterLinkTag" href="/expenses/filter/7">Week</a>
        </div>
        <div class="col filterColumn py-2  border border-right-1">
            <div class="dropdown ">
                <a class=" dropdown-toggle " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Month
                </a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/expenses/month/01">January</a>
                    <a class="dropdown-item" href="/expenses/month/02">February</a>
                    <a class="dropdown-item" href="/expenses/month/03">March</a>
                    <a class="dropdown-item" href="/expenses/month/04">April</a>
                    <a class="dropdown-item" href="/expenses/month/05">May</a>
                    <a class="dropdown-item" href="/expenses/month/06">June</a>
                    <a class="dropdown-item" href="/expenses/month/07">July</a>
                    <a class="dropdown-item" href="/expenses/month/08">August</a>
                    <a class="dropdown-item" href="/expenses/month/09">September</a>
                    <a class="dropdown-item" href="/expenses/month/10">October</a>
                    <a class="dropdown-item" href="/expenses/month/11">November</a>
                    <a class="dropdown-item" href="/expenses/month/12">December</a>
                </div>
            </div>
        </div>
        <div class="col filterColumn py-2  border border-right-1">
            <div class="dropdown ">
                <a class="filterLinkTag dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Year
                </a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/expenses/year/2021">2021</a>
                    <a class="dropdown-item" href="/expenses/year/2022">2022</a>
                </div>
            </div>
        </div>
        <div class="col filterColumn py-2  border border-right-1">
            <a class="filterLinkTag" href="/expenses">All Time</a>
        </div>
    </div>
</div>



<%- include('./partials/footer.ejs') %>